/* GENERELLE INDSTILLINGER */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    width: 100%;
    background-color: #FCF3EB;
}



img {
    width: 100%;
}



.padding {
    padding: 30px 40px;
}



/* GENERELLE INDSTILLINGER SLUT */

/* HEADER LOGO */
.logo img {
    width: 66px;
    height: 66px;
    margin: 2vw;

}


.navlogo img {
    width: 66px;
    height: 66px;
    margin: 2vw;
    top: 5px;
    position: absolute;
}

/* HEADER LOGO SLUT */


/* SIDE NAVIGATION */
/* Side navigation menu */
span {
    display: inline-block;
    margin: 2vw;
    cursor: pointer;
    position: fixed;
    right: 0;
    width: 88px;
    height: 88px;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FCF3EB;
    overflow-x: hidden;
    padding-top: 160px;
    transition: 0.3s;
}

.sidenav a {
    text-decoration: none;
    font-size: 2rem;
    color: #093A82;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
    text-align: center;
    line-height: 6rem;

}

.sidenav a:hover {
    color: #FAC177;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    cursor: pointer;
    width: 88px;
    height: 88px;
    margin: 2vw;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}



/* Menu slut */



/* TEKST */

.headline h1 {
    text-align: center;
    color: #093A82;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;


}

.headline p {
    text-align: center;
    color: #093A82;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

.headline2 p {
    text-align: center;
    color: #093A82;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;

}

.headline2 h1 {
    text-align: center;
    color: #FAC177;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;


}

.beer {
    display: flex;
    justify-content: space-around;
}

.beer img {

    width: 47%;
    margin: 10vw;
}


.citat h2 {
    text-align: center;
    color: #FAC177;
    font-size: 1.5rem;
    margin: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.undercitat p {
    font-size: 1rem;
    text-align: center;
    margin: 50px 40px 0px 40px;
    font-style: italic;
    color: #093A82;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* SMAG */
.boks {
    background-color: #FAC177;
    width: 100%;
    height: 600px;
    /*    margin-top: 50px;*/

}

.boks h2 {
    font-size: 2rem;
    color: #093A82;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}



.boks h3 {
    text-transform: uppercase;
    color: #093A82;
    font-size: 1.2rem;
}

.slidebar {
    display: flex;
    justify-content: space-between;

    font-size: 1rem;

}

.slidebar p {
    font-family: Avenir;
    line-height: 22px;
    display: inline-block;
    /*  padding: 0px 10px 0px 10px;*/
    color: #093A82;

}

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}



.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    /* border-radius: 5px;*/
    background-color: #093A82;
    outline: none;
    /*  -webkit-transition: .2s;
    transition: opacity .2s;*/
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #093A82;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}



/* SMAG SLUT */


/* TYPE */

.boks2 {
    background-color: #BEE0D9;
    width: 100%;
    height: 550px;
    /*    margin-top: 50px;*/

}



.info {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;

}

.info p {
    font-family: Avenir;
    line-height: 22px;
    display: inline-block;
    padding: 20px 20px 0px 20px;
    color: white;

}

.boks2 h2 {
    text-align: center;
    color: white;
    font-weight: 500;
}

.boks2 p {
    text-align: center;
    color: white;
}


.link2 {
    padding-top: 20px;
    text-align: center;
}

.link2 a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    border: solid #FAC177;
    padding: 14px 20px;
    border-radius: 40px;

}

.link a:hover {
    opacity: 50%;
}




. tuborgsixpack img {
    margin-top: 50px;
    padding: 15px;
}




/* TYPE SLUT */








/* INFOGRAFIK */


.infografik h3 {
    text-align: center;
}




.infografik h1 {
    text-align: center;
    color: #093A82;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.infografik h2 {
    text-align: center;
    color: #FAC177;
    font-size: 2.8rem;

}

.infografik p {
    text-align: center;
    color: #093A82;
    padding-left: 50px;
    padding-right: 50px;
}



/* INFOGRAFIK SLUT */

/* BLAA BOKS */

.blaaboks {
    display: flex;
    background-color: #093A82;
    height: 400px;

}

.blaaboks img {
    width: 100%;

}

.blaaboks p {
    font-size: 0.8rem;
    color: white;
    padding-top: 50px;
}

.tekstvenstre {
    margin-right: 17px;
}

.teksthoejre {
    margin-left: 17px;
}




/* BLAA BOKS SLUT */


/* KONKURRENCE */



.konkurrence h2 {
    text-align: center;
    color: #093A82;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}


.konkurrence p {
    font-size: 1rem;
    text-align: center;
    font-style: italic;
    color: #093A82;


}

.orangeboks {
    border: solid #FAC177;
    height: 250px;

    position: relative;
}

.daaser {
    display: flex;

    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.daase img {
    padding-top: 20px;
    width: 80%;
}

.knap {
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    /* padding-left: 90px;
    padding-right: 90px;*/
    position: relative;

}

button {
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
    font-size: 1.2rem;
    color: #093A82;
    background-color: #BEE0D9;
    padding: 14px 50px;
    border-radius: 40px;
    cursor: pointer;

}


button:hover {
    opacity: 50%;
}



/* KONKURRENCE SLUT */


/* BESKRIVELSE */

.beskrivelse h2 {
    text-align: center;
    color: #093A82;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;

}

.video img {
    width: 100%;
}

.beskrivelse h3 {
    text-align: center;
    color: #093A82;
    font-size: 1rem;
    font-weight: 100;
    font-style: italic;

}

.beskrivelse p {
    text-align: center;
    color: gray;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    font-weight: 400;


}

.link {
    padding-top: 20px;
    text-align: center;
}

.link a {
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
    font-size: 1.2rem;
    color: #093A82;
    background-color: #BEE0D9;
    padding: 14px 30px;
    border-radius: 40px;

}

.link a:hover {
    opacity: 50%;
}



/* BESKRIVELSE SLUT */

/* NYHEDSBREV */


.graaboks {
    background-color: #F8F8F8;
    height: 400px;
}

.graaboks h2 {
    font-size: 2rem;
    color: #093A82;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.graaboks p {
    text-align: center;
    color: #093A82;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}


input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #FAC177;
    border-radius: 40px;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
    font-weight: 500;

}

input[type=submit] {
    justify-content: space-around;
    width: 60%;
    background-color: #BEE0D9;
    font-size: 1.2rem;
    color: #093A82;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.nyhedsbrev .knap {
    padding-top: 10px;
}

input[type=submit]:hover {
    opacity: 80%;
}





/* NYHEDSBREV SLUT */


/* FOOTER */

footer {
    background-color: #9C9E9F;
    height: 150px;
}



/* FOOTER SLUT */

/* MEDIA QUERIES */

@media only screen and (min-width: 800px) {
    body {
        background-image: url(baggrundsbilleder/baggrund.png);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;


    }

    /* HEADER */

    .logo img {
        width: 99px;
        height: 99px;

    }

    .navlogo img {
        width: 99px;
        height: 99px;

    }


    span {
        width: 66px;
        height: 66px;
        margin: 3vw;


    }

    .sidenav .closebtn {
        width: 66px;
        height: 66px;
        margin: 3vw;

    }


    .sidenav a {
        font-size: 2.5rem;

    }

    /* HEADER SLUT */

    /* SPLASH */

    .headline h1 {
        font-size: 6rem;
        color: white;
    }

    .headline p {
        font-size: 2rem;
    }

    .headline2 p {
        font-size: 2rem;
        text-align: end;

        /*padding-top: 8vw;*/
    }

    .headline2 h1 {
        font-size: 4rem;
        margin-top: -2vw;
        text-align: end;
        /* padding-right: 55px;*/
    }

    .beer {
        justify-content: flex-start;
    }

    .beer img {
        width: 20%;
        margin-top: -45vw;
    }



    .citat h2 {
        font-size: 3rem;
        color: white;
        /* margin: 135px;*/

    }

    .undercitat p {
        font-size: 2rem;
        text-align: center;
        /*     margin-top: -70px;*/
        font-style: italic;

    }


    /* TEKST SLUT */

    /* SMAG */

    .smag {
        display: flex;
    }

    .smag img {
        width: 50%;
    }


    .boks {
        width: 30vw;

    }

    .boks2 {
        width: 60%;
        height: 34vw;

    }





    /* SMAG SLUT */

}


/* MEDIA QUERIES SLUT */
