/* GENERELLE INDSTILLINGER */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    width: 100%;
    background-color: #FCF3EB;
}



img {
    width: 100%;
}



.padding {
    padding: 30px 40px;
}



/* GENERELLE INDSTILLINGER SLUT */

/* HEADER LOGO */
.logo img {
    width: 66px;
    height: 66px;
    margin: 2vw;

}


.navlogo img {
    width: 66px;
    height: 66px;
    margin: 2vw;
    top: 5px;
    position: absolute;
}

/* HEADER LOGO SLUT */


/* SIDE NAVIGATION */
/* Side navigation menu */
span {
    display: inline-block;
    margin: 2vw;
    cursor: pointer;
    position: fixed;
    right: 0;
    width: 88px;
    height: 88px;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FCF3EB;
    overflow-x: hidden;
    padding-top: 160px;
    transition: 0.3s;
}

.sidenav a {
    text-decoration: none;
    font-size: 2rem;
    color: #093A82;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
    text-align: center;
    line-height: 6rem;

}

.sidenav a:hover {
    color: #FAC177;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    cursor: pointer;
    width: 88px;
    height: 88px;
    margin: 2vw;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}



/* Menu slut */



/* TEKST */

.headline h1 {
    text-align: center;
    color: #093A82;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;


}

.headline p {
    text-align: center;
    color: #093A82;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

.headline2 p {
    text-align: center;
    color: #093A82;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;

}

.headline2 h1 {
    text-align: center;
    color: #FAC177;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;


}

.beer {
    display: flex;
    justify-content: space-around;
}

.beer img {

    width: 47%;
    margin: 10vw;
}


.citat h2 {
    text-align: center;
    color: #FAC177;
    font-size: 1.5rem;
    margin: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.undercitat p {
    font-size: 1rem;
    text-align: center;
    margin: 50px 40px 0px 40px;
    font-style: italic;
    color: #093A82;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* SMAG */
.boks {
    background-color: #FAC177;
    width: 100%;
    height: 130vw;
    margin-top: 50px;

}

.boks h2 {
    font-size: 2rem;
    color: #093A82;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}


.boks2 {
    background-color: #BEE0D9;
    width: 100%;
    height: 50vw;
    margin-top: 50px;

}

.tuborgsixpack img {
    margin-top: 50px;
    padding: 15px;
}



/* SMAG SLUT */


/* INFOGRAFIK */

.infografik h2 {
    text-align: center;
    color: #093A82;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;

}

.infografik h1 {
    text-align: center;
    color: #FAC177;
    font-size: 2.5rem;

}

.infografik p {
    text-align: center;
    color: #093A82;
    padding-left: 50px;
    padding-right: 50px;
}



/* INFOGRAFIK SLUT */

/* BLAA BOKS */

.blaaboks {
    display: flex;
    background-color: #093A82;
    height: 300px;

}

.blaaboks img {
    width: 100%;
    margin-top: 15px;
}

.blaaboks p {
    font-size: 0.8rem;
    color: white;
    margin-top: 30px;
}

.tekstvenstre {
    margin-right: 17px;
}

.teksthoejre {
    margin-left: 17px;
}




/* BLAA BOKS SLUT */


/* KONKURRENCE */

.konkurrence h2 {
    text-align: center;
    color: #093A82;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}


.konkurrence p {
    font-size: 1rem;
    text-align: center;
    font-style: italic;
    color: #093A82;

}

.orangeboks {
    border: solid #FAC177;
    height: 220px;

}

.daaser {
    display: flex;

    padding-left: 20px;
    padding-right: 20px;
}

.daase img {
    margin-top: 40px;
    width: 80%;
}

.knap {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    /* padding-left: 90px;
    padding-right: 90px;*/

}

button {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: #093A82;
    background-color: #BEE0D9;
    padding: 14px 50px;
    border-radius: 40px;
    cursor: pointer;

}


button:hover {
    opacity: 50%;
}



/* KONKURRENCE SLUT */


/* BESKRIVELSE */

.beskrivelse h2 {
    text-align: center;
    color: #093A82;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;

}

.video img {
    width: 100%;
}

.beskrivelse h3 {
    text-align: center;
    color: #093A82;
    font-size: 1rem;
    font-weight: 100;
    font-style: italic;

}

.beskrivelse p {
    text-align: center;
    color: gray;
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    line-height: 16px;


}

.link {
    padding-top: 20px;
    text-align: center;
}

.link a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: #093A82;
    background-color: #BEE0D9;
    padding: 14px 30px;
    border-radius: 40px;

}

.link a:hover {
    opacity: 50%;
}



/* BESKRIVELSE SLUT */

/* NYHEDSBREV */


.graaboks {
    background-color: #F8F8F8;
    height: 400px;
}

.graaboks h2 {
    font-size: 2rem;
    color: #093A82;
    text-align: center;
    text-transform: uppercase;
}

.graaboks p {
    text-align: center;
    color: #093A82;
    font-size: 0.7rem;
}



input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #FAC177;
    border-radius: 40px;
    box-sizing: border-box;
}

input[type=submit] {
    justify-content: space-around;
    width: 60%;
    background-color: #BEE0D9;
    font-size: 1.2rem;
    color: #093A82;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.nyhedsbrev .knap {
    margin-top: 10px;
}

input[type=submit]:hover {
    opacity: 80%;
}




/* NYHEDSBREV SLUT */


/* FOOTER */

footer {
    background-color: #9C9E9F;
    height: 150px;
}



/* FOOTER SLUT */

/* MEDIA QUERIES */

@media only screen and (min-width: 800px) {
    body {
        background-image: url(baggrundsbilleder/baggrund.png);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;


    }

    .logo img {
        width: 99px;
        height: 99px;

    }

    .navlogo img {
        width: 99px;
        height: 99px;

    }


    span {
        width: 66px;
        height: 66px;
        margin: 3vw;


    }

    .sidenav .closebtn {
        width: 66px;
        height: 66px;
        margin: 3vw;

    }


    .sidenav a {
        font-size: 2.5rem;

    }

    .headline h1 {
        font-size: 8rem;
        color: white;
    }

    .headline p {
        font-size: 2rem;
        margin-top: -120px;
    }

    .headline2 p {
        font-size: 2rem;
        text-align: end;
        margin-top: 8vw;
    }

    .headline2 h1 {
        font-size: 4rem;
        margin-top: -4vw;
        text-align: end;
        padding-right: 55px;
    }

    .beer img {
        width: 20%;
        margin: 6vw;
        margin-top: -36vw;

    }

    .citat h2 {
        font-size: 5rem;
        color: white;
        margin: 135px;

    }

    .undercitat p {
        font-size: 2.5rem;
        text-align: center;
        margin-top: -70px;
        font-style: italic;


    }


    .smag img {
        width: 50%;
    }


    .boks {
        width: 30vw;
        height: 45vw;
    }

    .boks2 {
        width: 60%;
        height: 40vw;

    }
}


/* MEDIA QUERIES SLUT */
